.main {
  @apply flex flex-col justify-between items-center p-24 min-h-screen;
}

.vercelLogo {
  @apply filter invert;
}

.description {
  @apply flex flex-col justify-between items-center text-xs max-w-full w-full z-10 font-mono;
}

.description a {
  @apply flex justify-center items-center gap-2;
}

.description p {
  @apply relative m-0 p-4 bg-opacity-50 border border-opacity-30 rounded-md;
  background-color: rgba(var(--callout-rgb), 0.5);
  border-color: rgba(var(--callout-border-rgb), 0.3);
}

.code {
  @apply font-mono font-semibold;
}

.hero {
  @apply flex relative items-center;
}

.heroContent {
  @apply flex relative z-0 pb-16 flex-col gap-8 justify-between items-center w-auto font-sans pt-48;
}

@media (min-width: 768px) {
  .heroContent {
    @apply pt-16 pb-24;
  }
}

@media (min-width: 1024px) {
  .heroContent {
    @apply pt-20 pb-32;
  }
}

.logos {
  @apply flex z-50 justify-center items-center w-full;
}

.grid {
  @apply grid gap-4 max-w-full w-screen;
  grid-template-columns: repeat(4, minmax(25%, auto));
}

.card {
  @apply p-4 bg-opacity-0 transition-all duration-200 border border-opacity-0 rounded-md;
  background-color: rgba(var(--card-rgb), 0);
  border-color: rgba(var(--card-border-rgb), 0);
}

.card span {
  @apply inline-block transition-transform duration-200;
}

.card h2 {
  @apply font-semibold mb-2;
}

.card p {
  @apply m-0 opacity-60 text-sm leading-relaxed max-w-xs;
}

@media (prefers-reduced-motion) {
  .card:hover span {
    @apply transform-none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    @apply p-16;
  }

  .grid {
    @apply grid-cols-1 mb-30 max-w-xs text-center;
  }

  .card {
    @apply p-10;
  }

  .card h2 {
    @apply mb-2;
  }

  .center {
    @apply p-32;
  }

  .description {
    @apply text-sm;
  }

  .description a {
    @apply p-4;
  }

  .description p, .description div {
    @apply flex justify-center fixed w-full;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    @apply bg-opacity-10 border-opacity-15;
  }

  .card:hover span {
    @apply transform-translate-x-1;
  }
}

.circles {
  @apply absolute;
  min-width: 614px;
  min-height: 614px;
}

.logo {
  @apply z-50 w-30 h-30;
}

.logoGradientContainer {
  @apply flex absolute z-50 justify-center items-center w-64 h-64;
}

.turborepoWordmarkContainer {
  @apply flex z-50 px-6 py-6 flex-col gap-5 justify-center items-center text-center;
}

@media (min-width: 1024px) {
  .turborepoWordmarkContainer {
    @apply gap-6;
  }
}

.turborepoWordmark {
  @apply w-40 fill-current text-white;
}

@media (min-width: 768px) {
  .turborepoWordmark {
    @apply w-50;
  }
}

.code {
  @apply font-mono font-semibold;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    @apply grid-cols-2;
  }
}

/* Gradients */
.gradient {
  @apply absolute mix-blend-normal;
}

.gradientSmall {
  @apply blur-8;
}

.gradientLarge {
  @apply blur-20;
}

.glowConic {
  background-image: var(--glow-conic);
}

.logoGradient {
  @apply opacity-90 w-30 h-30;
}

.backgroundGradient {
  @apply -top-128 w-screen h-screen opacity-15;
}
